<div class="flex justify-center">
  <div class="grid place-content-center my-10 pb-3 border-solid border-2 rounded-lg w-1/2 shadow-lg">
    <div class="flex justify-center">
      <mat-icon aria-hidden="false" aria-label="Main icon" fontIcon="people" >icon</mat-icon>
    </div>
    <h3 class="font-thin">Asistente para la exploración de usuarios de Git Hub</h3>
    <div class="flex justify-center">
      <button mat-raised-button color="accent" [routerLink]="['/users']">¡Explorar ahora!</button>
    </div>
  </div>
</div>

